/* reset from Kevin Powell edit if you like */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 55ch;
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Theme */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);
  --clr-spices: hsl(169, 86%, 28%);

  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);
  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);
}

/* Utilities */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Composition */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* Global/base */
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    color: var(--clr-primary-light-1);
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}

/* -- Här börjar det jag kodat --*/
h1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

header {
    background-color: white;
    height: 100%;

    nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin-block: 0.25rem;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;

            li {
                font-weight: var(--fw-semi-bold);
            }
        }
    }
}

header { /* tokigt på mobilskärm just nu */
  background-color: var(--clr-neutral-100);
  padding: var(--fs-100);
  nav{
    display: flex;
    align-items: center;
    gap: var(--fs-700);
    justify-content: space-between;
    ul{
    display: flex;
    gap: var(--fs-900);
      li{
        display: flex;
        color: var(--clr-green-400);
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        font-size: var(--fs-500); 
      }
    }
  }
}

.green-logo {
    display: flex;
    align-items: center;
    gap: var(--fs-400); /* Skapar ett litet avstånd mellan SVG:n och texten*/
    svg{
      stroke: var(--clr-green-400);
      stroke-width: 12;
      width: var(--fs-800);
      height: var(--fs-800);
    }
    color: var(--clr-green-400);
    font-weight: var(--fw-bold);
    font-size: var(--fs-500);   
}


.menu {
  border: none;
  background: transparent; /*Backround och border ser till så att vi bara ser linjerna och inte själva knappen*/
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 3rem;
  height: 3rem;
}

.menu-line {
  display: block; /* Gör span till ett block för att kunna ge bredd och höjd */
  width: 100%;
  height: calc(var(--fs-400) / 4);
  background-color: var(--clr-green-400);
  border-radius: var(--fs-400);
}

.appriciated-plants{
  display: flex;
  flex-direction: column;
  gap: var(--fs-400);
  align-items: center;
}

.gallery{
  gap: var(--fs-100);
  padding: var(--fs-100);
  background-color: var(--clr-primary-light-1);
}

.gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-img:nth-child(1){
  grid-area: one;
}

.gallery-img:nth-child(2){
  grid-area: two;
}

.gallery-img:nth-child(3){
  grid-area: three;
}

.gallery-img:nth-child(4){
  grid-area: four;
}

.gallery-img:nth-child(5){
  grid-area: five;
}

.gallery-img:nth-child(6){
  grid-area: six;
}

.newsletter, .planted-plants{
  background-color: var(--clr-primary-light-1);
  .icon{
      background-color: var(--clr-green-400);
      width: 12rem;
      height: 12rem;
      padding: var(--fs-900);
      border-radius: 100%;
      display: flex;
      align-items: center;
    }
}

.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs-400); 
}

.newsletter-content{
  display: flex;
  flex-direction: column;
  gap: var(--fs-400);
  flex-wrap: wrap;
}

.newsletter-content-email{
  position: relative;
  display: flex;
  align-items: center;
  label{
    display: none;
  }
  input{
    flex-grow: 1;
    border-radius: var(--fs-900);
    padding: var(--fs-200);
  }
  .send{
    position: absolute;
    right: var(--fs-500);
    padding: var(--fs-100) var(--fs-400);
    border: none;
    background-color: var(--clr-green-400);
    border-radius: var(--fs-900);
    color: var(--clr-neutral-100);
  }
}

div, article, section{
  padding: var(--fs-400);
}

.plants{
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  gap: var(--fs-400);
  margin-inline: auto; /*centrerar korten*/
}

.card{
  background-color: var(--clr-primary-light-1);
  border-radius: 10px;
  box-shadow: var(--border-shadow);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5; /* Ser till att .cards rader spänner ut sig över .plants alla fem redar */
  gap: var(--fs-400);
}


.img-article{
  max-width: 100%; 
  height: auto;
} /*Ser till att bilden inte är bredare än kortet och behåller sina propotioner mellan höjd och bredd*/

.category-list{
  display: flex;
  flex-wrap: wrap; /*Gör så att kategorier lägger sig på en ny rad om platsen tar slut*/
  gap: var(--fs-100);
}

.category-item{
  color: var(--clr-neutral-100);
  background-color: var(--clr-flower); 
  border-radius: var(--fs-900);
  padding: var(--fs-100);
}

/*Ger varje typ av kategori en unik färg*/
.flowers{
  background-color: var(--clr-flower);
}

.edible{
  background-color: var(--clr-edible);
}

.greenery{
  background-color: var(--clr-green);
}

.sun-loving{
  background-color: var(--clr-sunloving);
}

.easy-to-grow{
  background-color: var(--clr-easy);
}

.decorative{
  background-color: var(--clr-decorative);
}

.colorful{
  background-color: var(--clr-colorful);
}

.hardy{
  background-color: var(--clr-robust);
}

.spices{
  background-color: var(--clr-spices);
}

.fragant{
  background-color: var(--clr-fragrant);
}

.fast-growing{
  background-color: var(--clr-fast);
}

.humidifying{
  background-color: var(--clr-air);
}


.card-footer {
  background-color: var(--clr-primary-light-1);
  display: grid;
  
  grid-template-columns: var(--fs-900) 1fr;
  grid-template-rows: auto auto;
  gap: var(--fs-100);
  padding: var(--fs-100);
  .avatar{
    grid-row: 1 / span 2;
    border-radius: 50%;
    width: var(--fs-900);
    height: var(--fs-900);
  }
  .name{
    grid-column: 2;
    grid-row: 1;
  }
  .date{
    grid-column: 2;
    grid-row: 2;
  }
}

.planted-plants{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--fs-400); 
}

.planted-plants-content{
  display: flex;
  flex-direction: column;
  gap: var(--fs-400);
}

.planted-plants-button {
    border-radius: var(--fs-900);
    padding: var(--fs-100);
    color: white;
    background-color: var(--clr-accent);
    align-self: flex-end
}


footer{
  background-color: var(--clr-accent);
  display: flex;
  justify-content: space-around;
  padding: var(--fs-900);
  color: var(--clr-neutral-100);
  ul {
    display: flex;
    flex-direction: column;
    gap: var(--fs-400);
    li:has(svg){
      display: flex;
      align-items: center;
      gap: var(--fs-200);
    }
  }
}

.white-logo{
    display: flex;
    align-items: center;
    font-weight: var(--fw-bold);
    gap: var(--fs-400); /* Skapar ett litet avstånd mellan SVG:n och texten*/
    svg{
      width: var(--fs-700);
      height: var(--fs-700);
    }
}

aside{
  display: flex;
  flex-direction: column;
}

@media (min-width: 64em){ /* För desktop */
  header nav{
    gap: var(--fs-900);
    justify-content: center;
    ul{
      margin-left: var(--fs-900);
    }
  }

  .menu{
    display: none; 
  }

  .newsletter-content{
    max-width: 40%;
  }

  .plants{
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery{
    max-width: 80%;
    display: grid;
    grid-template-areas:
    "one one two three four four"
    "one one five five six six";
    
  }
}
@media (max-width: 64em){ /* För tablets */
  .navigation-desktop{
    display: none;
  }

  .newsletter, .planted-plants{
    flex-direction: column;
    justify-content: center;
  }

  .plants{
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six";
  }
}

@media (max-width: 48em){ /*För mobiltelefoner */
  .plants{
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery{
    display: grid;
    grid-template-areas:
    "one two"
    "three four"
    "five six";
  }
}